<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mysql.91nin.com;Port=3306;Database=HuYa;UserName=root;Password=xxxxxxxx;SslMode=None;" />
  </connectionStrings>
</configuration>